.jumbotron{
    height: 620px;
    text-align: center;
    background:rgba(0, 0, 0, 0.377);
    background-image:url(../img/jumbotron.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


    border-bottom: 3px solid rgba(240, 255, 255, 0.596)
    
}
.logo{
    width:31%;
}

h2{
    color: rgba(240, 255, 255, 0.719);
}
p{
    color: rgba(240, 255, 255, 0.719);
}